body.grid {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr minmax(450px,auto) 1fr;
    background: #ffffcc;
    font: 18px arial, sans-serif;
    text-shadow: 0 0 3px #FF0000;
}  

#board {
    grid-row-start: 1;
    grid-column-start: 2;
}

#b-grid {
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: 1fr 2fr 1fr 1fr;
}

#b-grid h1 {
    justify-self: center;
}

#b-grid div {
    justify-self: center;
    align-self: center;
}

#letter-spaces {
    font-size: 2em;
}

#pi {
    grid-row-start: 2;
    grid-column-start: 2;
    align-self: center;
}

#pi-grid {
    display: grid;
    grid-template-columns: 1fr minmax(250px,auto) 1fr;
    grid-template-rows: repeat(6, 1fr);
}

#enter-guess {
    grid-column: 2/3;
    grid-row: 2/3;
}

#submit-guess {
    grid-column: 2/3;
    grid-row: 4/5;
} 

#new-round {
    grid-column: 2/3;
    grid-row: 6/7
}

#guesses-left {
    grid-column: 2/3;
    justify-self: center;
}